html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    /* To control positioning of pseudo-element */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('slike/background_light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px) brightness(0.7);
    /* Apply blur to only the background */
    z-index: -1;
    /* Ensure the background stays behind the content */
}

.aplikacije {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

a {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    outline: 2px solid white;
    margin: 0 5px;
    transition-property:
        outline-offset, outline-color, background-color;
    transition-duration: .25s;
    text-decoration: none;
}

a:hover {
    outline-offset: 4px;
}

a:hover i {
    animation: shake .25s;
}

.pinterest:hover {
    background-color: #E60023;
    outline-color: #aa061f;
}

.twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.instagram:hover {
    background-image:
        radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d62497 60%, #285AEB 90%);
    outline-color: #a02d76;
}

.youtube:hover {
    background-color: #FF0000;
    outline-color: #ee0202;
}

.wrap {
    width: 80%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;

}

form {
    height: 170px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffbc6e;
    border: 10px solid #8b4532;
}

span {
    color: #830000;
}

input {
    border: none;
    background-color: #8b4532;
    block-size: 27px;
    width: 300px;
    border-radius: 3px;
    color: #391b13;
}

label {
    color: #391b13;
    font-size: 16px;
    padding: 10px 0 3px 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

input::placeholder {
    color: #3e1919;
    /* Change this to your desired color */
    opacity: 1;
    /* Ensures the opacity stays at 100% */
}

input:focus {
    outline: none;
    background-color: #b8614956;
    box-shadow: gray;
    box-shadow: 4px 4px 9px #000000;
}

button {
    display: inline-block;
    /* Ensure the button takes full width */
    background-color: #7a3d2c;
    /* Change background color */
    color: rgb(255, 255, 255);
    /* Change text color */
    margin-top: 35px;
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 15px;
    /* Increase font size for the button */
    width: 75%;
    /* Set width to 100% of the parent container */
    height: 25px;
    /* Include padding and border in the element's total width */
}

button:hover {
    background-color: #391b13;
    /* Darker shade on hover */
}

/* Styling the button */
.theme-toggle {
    position: fixed;
    width: 123px;
    height: 56px;
    bottom: 3%;
    right: 1.5%;
    background-color: #b5583f;
    color: #2b1611;
    border: 5px solid #2b1611;
    border-radius: 5px;
    font-size: 14px;
}

/* Optional: Add a hover effect */
.theme-toggle:hover {
    background-color: #2b1611; /* Darker shade on hover */
    color: #7a3d2c;
}
